@font-face {
    font-family: 'Material Icons';
    src: url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: zh;
    src: url(../assets/fonts/zh-cn.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: material-icon-rounded;
    src: url(../assets/fonts/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins, Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    width: 300px;
    height: 100vh;
}
body{
    background: #e0e0e0;
}
.root {
    display: flex;
}
.nav-buttons {
    padding: 20px 0;
    width: 100%;
    flex-grow: 2;
}
.logo {
    width: 200px;
}
.b-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}
.b-list li {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #00000070;
    text-align: center;
    transition: 100ms ease;
    border-right: 0;
}
.b-list li:hover{
    color: #000;
    border-right: 2px solid #000;
}
img {
    background-color: #fff;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: clamp(1366px, 100%, 1300px);
}
.searchbar {
    display: flex;
}
#Submit {
    border: 0;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: 300ms ease;
}
#Submit:hover {
    background: #ffe0fb;
} 
#Submit:active {
    background: #fcb2f2;
}
#search {
    border: 0;
    border-radius: 0 10px 10px 0;
    width: 100%;
    padding: 10px;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
}

/* Carousel */
.carousel-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    gap: calc((90% / 16));
    position: relative;
}
.card {
    background: linear-gradient(45deg, #ffd6ee90, #ffe7f290, #fed2ff90, #ffc8f690);

    display: flex;
    position: absolute;
    flex-direction: column;
    flex: 0 0 calc((90% / 3) - 10px);
    transition: left 600ms ease;
    transition: 400ms;
    z-index: 1  ;
    overflow: hidden;   
    border-radius: 20px;

    width: 30%;
}
.card-image-wrapper {
    padding: 10px 10px 0 10px;
    aspect-ratio: 8/3;
    width: 100%;
    height: 100%;
}
.card-image-wrapper > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.card-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: #505050;
    padding: 10px;
    width: 100%;
}
.recipe-attributes {
    font-size: 0.6rem;
    opacity: 0.8;
}
.recipe-traits {
    display: flex;
    width: 100%;
    height: 10%;
    gap: 2%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.card .recipe-traits::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: #00000000;
    transition: 600ms ease;
}
.card:hover .recipe-traits::-webkit-scrollbar-thumb{
    background: #fff;
}
.recipe-traits::-webkit-scrollbar {
    background-color: #00000000;
    height: 5px;
    margin: 5px;
}
.recipe-traits::-webkit-scrollbar-track-piece {
    opacity: 0;
}
.trait-box {
    display: block;
    padding: 5px;
    border-radius: 10px;
    background: #ffbcf6;
}

.card-0 {
    opacity: 1;
    left: 0%;
}
.card-1 {
    opacity: 1;
    left: 33.33%; 
    scale: 110%;
    z-index: 2;
}
.card-2 {
    opacity: 1;
    left: 66.66%;
}
.card-3 {
    z-index: -1;
    opacity: 0;
}
.card:hover {
    transform: rotateY(0deg);
    scale: 115%;
    z-index: 3;
}
.left{
    rotate: 180deg;
}
.left > svg {
    rotate: -90deg;
}
.right > svg {
    rotate: 90deg;
}

.mind {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    gap: 10px;
}
.carousel-control {
    display: flex;
    gap: 10px;
}
.carousel-control > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fc6ec1;
    height: fit-content;
    border: 0;
    padding: 0 15px;
    border-radius: 15px;
    transition: 600ms ease;
}
.carousel-control > button:hover {
    background: #ffc1e5;
}
.carousel-control > button:active {
    background: #ff50a1;
}
.carousel-wrapper > a {
    height: 100%;
}