@font-face {
    font-family: 'Material Icons';
    src: url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: material-icon-rounded;
    src: url(../assets/fonts/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins, Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    width: 300px;
    height: 100vh;
}
body{
    background: #e0e0e0;
}
.root {
    display: flex;
}
.nav-buttons {
    padding: 20px 0;
    width: 100%;
    flex-grow: 2;
}
.logo {
    width: 200px;
}
.b-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}
.b-list li {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #00000070;
    text-align: center;
    transition: 100ms ease;
    border-right: 0;
}
.b-list li:hover{
    color: #000;
    border-right: 2px solid #000;
}
img {
    background-color: #fff;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 100%;
}
.carousel-header {
    display: flex;
    justify-content: space-between;
}

/* Carousel */
.carousel-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    gap: calc((90% / 16));
    position: relative;
}
.card {
    display: flex;
    position: absolute;
    flex-direction: column;
    flex: 0 0 calc((90% / 3) - 10px);
    transition: left 600ms ease;
    transition: 400ms;
    z-index: 1  ;
    overflow: hidden;   
    border-radius: 7px 7px 25px 25px;

    width: 250px;
}
.card > div{
    font-family: zh, sans-serif, Arial, Helvetica;
    color: #fff;
    background: linear-gradient(90deg, #215e86, #2d709c, #235475, #26506b);
    padding: 10px;
    width: 100%;
    box-shadow: 0px -5px 50px 5px #2d9c8a;
}
.card > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 19/10;
}
.card-0 {
    opacity: 1;
    left: 0%;
}
.card-1 {
    opacity: 1;
    left: 33.33%; 
    scale: 110%;
    z-index: 2;
}
.card-2 {
    opacity: 1;
    left: 66.66%;
}
.card-3 {
    z-index: -1;
    opacity: 0;
}
.card:hover {
    transform: rotateY(0deg);
    scale: 115%;
    z-index: 3;
}
.left{
    rotate: 180deg;
}
.left > svg {
    rotate: -90deg;
}
.right > svg {
    rotate: 90deg;
}

.mind {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    gap: 10px;
}
.carousel-control > button {
    background: #202f41;
    height: fit-content;
    border: 0;
    transition: 600ms ease;
}
.carousel-control > button:hover {
    background: #233750;
}
.carousel-control > button:active {
    background: #284466;
}
.carousel-wrapper > a {
    height: 100%;
}